{%extends "base.html"%}
{%load static%}


{%block content%}
<div id="Habilidades">
	<div id="contact" class="container">
		<div class="row mar centered">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<i class="fa fa-address-book fa-4x" aria-hidden="true"></i>
				<h1>Contacto</h1>
				<p><strong>Telefono:</strong> 7751344187</p>
				<p><strong>e-mail:</strong> pe280591@uaeh.edu.mx</p>
				<p><strong>Telefono (alternativo):</strong> 5537137756</p>
				<p><strong>e-mail (alternativo):</strong> cecpj@hotmail.com </p>	
				<a href="https://www.facebook.com/sergio.prez1" target="_blank"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</div>
{%endblock content%}