{%extends "base.html"%}
{%load static%}
{%block content%}
<div id="Habilidades">	
	<div class="container">
		<div class="row" style="padding:10px">
			<div class="color col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<center><i class="fa fa-address-card fa-4x" aria-hidden="true"></i>
				<h1>Datos personales</h1></center>
				<p><strong>Nombre:</strong> Sergio Pérez Bautista</p>
				<p><strong>Edad:</strong> 23 años</p>
				<p><strong>Direccion:</strong> Corona del Rosal #402 Col. Juan C. Doria Pachuca Hidalgo. </p>
				<p><strong>Telefono:</strong> 7751344187</p>
				<p><strong>e-mail:</strong> pe280591@uaeh.edu.mx</p>
				<hr style="background-color:black;">
			</div>
			<div class="color col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<center><i class="fa fa-graduation-cap fa-4x" aria-hidden="true"></i>
				<h1>Formación Académica</h1></center>
				<p><strong>Centro de Bachillerato Tecnológico Industrial y de Servicios No. 222</strong></p>
				<p>Mis estudios de bachillerato los desempeñe en el Centro de Bachillerato Tecnológico Industrial y de Servicios No. 222 donde elige la especialidad de Programacion.</p>
				<p><strong>Universidad Autonóma del Estado de Hidalgo</strong></p>
				<p>Mis estudios de Nivel superior los desempeñe en la Universidad Autonóma del Estado de Hidalgo cursando satisfactoriamente la Licenciatura en Sistemas Computacionales Generacion 2012-2016.</p>
			<hr style="background-color:black;">
			</div>
			<div class=" color col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<center><i class="fa fa-desktop fa-4x" aria-hidden="true"></i>
				<h1>Experiencia Laboral</h1></center>
				<p><strong>Analista de sistemas programador | Marzo 2017 - Febrero 2018 | Team developers - Pachuca Hgo. </strong></p>
				<p>Como parte de Team Developers desarrolle varios proyectos con el lenguaje de programación python y utilizando odoo el cual es un ERP de código abierto que cuenta con módulos ya establecidos pero también se pueden crear nuevos modulo depende a la necesidad del cliente.<br>Entre los proyectos mas destacados estan:<br></p>
				<ul>
					<li>CRM del Instituto Hidalguense de Competitividad Empresarial en el cual todos sus módulos fueron programados a las necesidades del instituto</li>
					<li>Erp Salones florida ubicado en Pachuca Hgo. En el cual de la misma forma todos sus módulos fueron programados depende a las necesidad del salon de eventos.</li>
					<li>Software de calculo de Trayectoria escolar de la Escuela normal del valle del Mezquital Hgo. Odoo nos da la facilidad de no solo crear erps y crms, en este caso fue una herramienta muy útil para poder desarrollar de una manera muy ágil un software para el calculo de trayectorias escolares.</li>
				</ul>
				<p><strong>Analista de sistemas y programador | Octubre 2017 -Febrero 2017 | Provisión –CDMX | (Vendelo fácil)</strong></p>
				<p>Desarrollé una plataforma en su etapa inicial llamada Vendelo Fácil la cual es un ecommerce pensado principalmente para la venta de autos, el sistema se desarrollo con el lenguaje python y el framework de desarrollo Django almacenando datos en una base de datos en postgresql.</p>
				<p><strong>Analista de sistemas y programador | Septiembre 2016 – Febrero 2017 | Provisión –CDMX | (Terreno fácil)</strong></p>
				<p>Desarrollé una plataforma llamada Terreno Fácil donde se registran personas que quieren adquirir un terreno, esta plataforma mejoró el contacto  de la empresa con los clientes dando una experiencia de CRM,  el sistema fue desarrollado con el lenguaje de programación Python y el framework de desarrollo Django soportando los datos en una base de datos  en postgresql.</p>
				<p><strong>Analista Programador (Servicio Social) | Enero 2016 – Junio 2016 | Universidad del Futbol y Ciencias del Deporte - Pachuca Hgo.</strong></p>
				<p>Desarrolle un sistema para las áreas funcionales de la empresa, este sistema aumentó la capacidad de resolver  las incidencias internas en la empresa , el sistema contaba con un ambiente web en el cual registran las incidencias en cuestión a equipo de Ti , estas incidencias  eran recibidas y vistas en el sistema para poder ser soportadas por el empleado correspondiente, el sistema se desarrolló con el lenguaje de programación php, utilizando el manejador de bases de datos Sql Server para contener todos los datos del sistema.</p>
			</div>
		</div>
	<hr style="background-color:black;">
	</div>
	<div class="container">
		<div class="row" style="padding-top:5px">
			<div class="color col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<center><i class="fa fa-cogs fa-4x" aria-hidden="true"></i>
				<h1>Aptitudes Técnicas</h1></center>
				<p><strong>Conocimientos en Hardware y Software:</strong> 	Conocimiento en mantenimiento preventivo y correctivo en equipos de computoa</p>
				<p><strong>Lenguajes de programación:</strong> Conocimientos en Php , Python , c++</p>
				<p><strong>Frameworks Frontend:</strong> Desarrollo en Bootstrap, Materialize, Foundation</p>
				<p><strong>Frameworks web:</strong> Conocimientos en Django</p>	
				<p><strong>ERP y CRM:</strong> Odoo</p>	
				<p><strong>Plataformas de desarrollo colaborativo:</strong> Uso de plataforma de git y github </p>
				<p><strong>Manejador de base de datos:</strong> My sql, Sqlserver,Postgres</p>
				<p><strong>Sistemas Operativos</strong> Conocimientos en Windows, Linux(Ubuntu)</p>
				<p><strong>Manejo de servicios en la nube:</strong> Conocimientos en Heroku,Amazon</p>

			</div>
			<div class="color col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<center><i class="fa fa-globe fa-4x" aria-hidden="true"></i>
				<h1>Idiomas</h1></center>
				<p><strong>He estudiado como segundo idioma el inglés acreditando el examen Toelf</strong></p>
			</div>
			<div class="color col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<center><i class="fa fa-user-plus fa-4x" aria-hidden="true"></i>
				<h1>Aptitudes e información Adicional</h1></center>
				<p><strong>Soy una persona proactiva y autodidacta,</strong>siempre buscando aprender más sobre las tecnologías para el desarrollo web, me gusta asistir a eventos que realiza la comunidad de desarrolladores aquí en México y conocer gente que comparte el gusto por el desarrollo web, también me gusta mucho trabajar en equipo, ya que siempre puedes aprender algo nuevo de los demás y resolver problemas más fácilmente en conjunto.</p>
			</div>
		</div>
	</div>
</div>
{%endblock content%}