{%extends "base.html"%}	
{%load static%}

{%block content%}

<div id="Habilidades">
<div class="container centered">
	<h1>Proyectos</h1>
	<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom"><strong>Iupick</strong></div>
						  <div class="panel-body">
						  <img class="iupick" src="{% static "media/logo-iu.png" %}">
					  </div>
					  <div class="panel-footer panel-footer-custom"><a style="color:white" href="https://www.iupickmexico.com/">iupickmexico.com/</a></div>	
				</div>
			</div>					
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom"><strong>IHCE</strong></i></div>
						  <div class="panel-body">
						  <img class="ihce" src="{% static "media/ihce.png" %}">
					  </div>
					  <div class="panel-footer panel-footer-custom"><a style="color:white" href="http://www.ihce.gob.mx/">ihce.gob.mx/</a></div>
				</div>
			</div>			
		</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading panel-heading-custom"><strong>Vendélo Fácil</strong></div>
  					<div class="panel-body">
  					<img class="vendelo" src="{% static "media/logofin.png" %}">
  				</div>
  				<div class="panel-footer panel-footer-custom"><a style="color:white" href="http://vendelofacil.com.mx/">vendelofacil.com.mx/</a></div>	
			</div>
		</div>					
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading panel-heading-custom"><strong>Terreno Fácil</strong></i></div>
  					<div class="panel-body">
  					<img class="terreno" src="{% static "media/logo.png" %}">
  				</div>
  				<div class="panel-footer panel-footer-custom"><a style="color:white" href="http://terrenofacil.com.mx/">terrenofacil.com.mx/</a></div>
			</div>
		</div>			
	</div>
	<div class="row">		
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1>Algunos repositorios en Github </h1>
			<div class="panel panel-default">
				<div class="panel-heading panel-heading-custom"><i class="fa fa-github fa-2x"></i></div>
  					<div class="panel-body">
  					{%for u in urls%}
    				<a href="{{u}}">{{u}}</a>
    				<hr>
    				{%endfor%}
  				</div>
			</div>
		</div>
	</div>
</div>
</div>
{%endblock content%}