{% extends "base.html" %}
{%load static%}



{%block content%}
<div id="Habilidades">
	<center><h1>Skills</h1></center>
	<br>
	<div class="container centered">
		<div class="row">
			<div class="col-md-6">
				<img class="python" src="{% static "media/pyt.png" %}" alt="python">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">	
				<h1>Python</h1>
				<p>Me encanta trabajar con el lenguaje de programacion de Python ya que es un lenguaje muy sencillo de usar y tiene una flexibilidad increible para trabajar con proyectos de cualquier estilo.</p>		
			</div>
		</div>
		<div style="padding-top:100px" class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">	
				<h1>Django</h1>
				<p>Django es un framework con un patron de diseño MVC con el cual e desarollado algunos proyectos que requieren de un backend robusto, que soporte muchas funcionalidades en cuestion de datos, para despues poder presentar los datos al cliente de una manera funcional y eficiente.</p>		
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 centered">
				<img class="dj" src="{% static "media/py.png" %}" alt="django">
			</div>
		</div>
		<div style="padding-top:100px" class="row">
		<!--<div class="row">
			<div class="col-md-6">
				<img class="odo" src="{% static "media/odoo.png" %}" alt="odoo">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">	
				<h1>Odoo</h1>
				<p>Tengo experiancia desarrollando crm's y erps a la medida con open-erp,odoo 8 y versiones superiores, no solo manejando los modulos que odoo proporciona por defecto, si no tambien programando modulos a la medida de el cliente,
				hasta el momento cuento con un portafolio de tres desarrollos basados en estas plataformas</p>		
			</div>
		</div>-->
		<div style="padding-top:100px" class="row">
		<h1><center>Servidores y Frontend</center></h1>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">	
				<h1>aws</h1>
				<img class="skills" src="{% static "media/aws.png" %}" alt="django">	
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<h1>nginx</h1>
				<img class="skills"   src="{% static "media/ng.png" %}" alt="django">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<h1>Bootstrap</h1>
				<img class="front" src="{% static "media/bo.png" %}" alt="django">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
				<h1>Css3</h1>
				<img class="front" src="{% static "media/cs.png" %}" alt="django">
			</div>
		</div>
		<div style="padding-top:50px" class="row">
		<h1><center>DBMS</center></h1>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">	
				<h1>Mysql</h1>
				<img class="skills" src="{% static "media/my.png" %}" alt="django">	
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<h1>PostgreSQL</h1>
				<img class="front"  src="{% static "media/po.png" %}" alt="django">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<h1>SQLServer</h1>
				<img class="front" src="{% static "media/se.png" %}" alt="django">
			</div>
		</div>
	</div> 
</div>
{%endblock content%}
